/**
 * @file
 * Front-end styling for the display of questions field.
 */

input.questions-field-calendar {
    display: none;
    padding: 3px;
    vertical-align: top;
}

html.js input.questions-field-calendar {
    display: inline;
}

.questions-field-container-inline label {
    display: inline;
    margin-right: 1em;
}

.questions-field-container-inline div,
.questions-field-container-inline div.form-item {
    display: inline;
}

.questions-field-container-inline div.description {
    display: block;
}

.questions-field-container-inline div.messages {
    display: block;
    float: left;
}

.questions-field-container-inline div.ajax-progress-bar div {
    display: inherit;
}

.questions-field-container-inline.questions-field-component-textarea label {
    vertical-align: top;
}

.questions-field-container-inline.questions-field-component-textarea .form-textarea-wrapper {
    display: inline-block;
}

.questions-field-component-textarea .grippie {
    display: block;
}

.questions-field-progressbar {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.questions-field-progressbar-inner {
    height: 1em;
    background-color: #74C421;
    height: 3px;
}

.questions-field-progressbar-outer {
    position: relative;
    border: 1px solid #356900;
    width: 100%;
    height: 3px;
    margin: 0.35em -1px 2em;
    background-color: white;
}

.questions-field-progressbar-page {
    position: absolute;
    width: 7px;
    height: 7px;
    margin: -6px -4px;
    border: 1px solid #356900;
    background-color: white;
    border-radius: 5px;
}

.questions-field-progressbar-page.completed {
    background-color: #74C421;
}

.questions-field-progressbar-page.current {
    background-color: #74C421;
}

.questions-field-progressbar-page .questions-field-progressbar-page-number {
    display: none;
}

.questions-field-progressbar-page .questions-field-progressbar-page-label {
    position: relative;
    top: 10px;
    margin: 0 -10em;
}