/**
 * @file
 * Styles that are used when viewing results or modifying questions field settings.
 */


/* Submission view page */

.questions-field-submission-info {
    padding: 10px;
}

.questions-field-submission-info .user-picture {
    float: right;
    margin-left: 10px;
}

.questions-field-submission-info-text {
    overflow: hidden;
}

.questions-field-submission-actions {
    float: left;
}

.questions-field-submission-navigation {
    text-align: right;
}

.questions-field-submission-next {
    margin-left: 20px;
}


/* Component table */

.questions-field-component-formkey,
.questions-field-component-value {
    max-width: 7em;
    word-wrap: break-word;
}


/* Analysis pages */

.questions-field-analysis-component {
    width: 33.33%;
    margin: 0 -2px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

@media all and (max-width: 1024px) {
    .questions-field-analysis-component {
        width: 50%;
    }
}

@media all and (max-width: 600px) {
    .questions-field-analysis-component {
        width: 100%;
    }
}

.questions-field-analysis-component-grid {
    width: 100%;
    clear: both;
}

.questions-field-analysis-component-inner {
    padding: 12px;
    overflow: auto;
}

.questions-field-analysis-component table {
    width: 100%;
}

.questions-field-analysis-component table td {
    white-space: normal;
}


/* Element for selecting components, i.e. included components for e-mails. */

.questions-field-component-select-wrapper {
    max-height: 300px;
    overflow: auto;
}

.questions-field-component-select-table table {
    margin: 0;
}

.questions-field-component-select-table tr.selected td,
.questions-field-component-select-table tr.selected td.active {
    background: inherit;
    color: inherit;
}

.form-item .questions-field-component-select-table .description {
    font-size: inherit;
}

.form-item .questions-field-component-select-table input {
    width: 12px;
    height: 12px;
    margin: 0 2px 2px;
}

.questions-field-component-select-suffix {
    margin-top: 10px;
}

.questions-field-select-list-format table {
    border: 1px solid;
    width: auto;
    font-size: 90%;
}

.questions-field-select-list-format td,
.questions-field-select-list-format th {
    border: 1px solid;
}

tr.questions-field-pagebreak td {
    border-top: 2px dotted #999;
}

td.questions-field-pagebreak {
    font-weight: bold;
}


/* Special theming for the options element widget (if installed) */

.questions-field-options-element thead {
    display: none;
}

.questions-field-options-element fieldset {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.questions-field-options-element fieldset legend {
    display: none;
}


/* Checkboxes for allowed file extensions */

table.questions-field-file-extensions td {
    vertical-align: top;
}

table.questions-field-file-extensions td .description {
    white-space: normal;
}

table.questions-field-file-extensions .form-type-checkbox {
    width: 5em;
    float: left;
}

table.questions-field-file-extensions input.form-text {
    width: 95%;
}


/* General styles */

.questions-field-checkbox {
    text-align: center;
    width: 40px;
}

.questions-field-container-inline div,
.questions-field-container-inline div.form-item {
    display: inline;
}

.questions-field-results-per-page a.selected {
    font-weight: bold;
}


/* Display of adding/editing components */

html.js fieldset.questions-field-position,
html.js div.questions-field-position {
    display: none;
}

tr.questions-field-add-form .tabledrag-changed {
    display: none;
}

#questions-field-emails tr.questions-field-add-form,
#questions-field-components tr.questions-field-add-form {
    background-color: inherit;
}


/* E-mail configuration */

html.js .questions-field-email-mapping {
    display: none;
}

td.questions-field-email-option {
    text-align: right;
}


/* Conditionals */

.questions-field-conditional,
.questions-field-conditional-new {
    display: block;
    position: relative;
    padding-left: 1em;
    padding-right: 9em;
    margin-left: 3em;
    max-width: 750px;
}

.questions-field-conditional-new {
    text-align: right;
    margin-left: 12em;
    padding-right: 0;
}

.questions-field-conditional-if {
    position: absolute;
    left: -.5em;
    margin-top: .2em;
}

.questions-field-conditional-rule {
    margin: .5em 0;
}

.questions-field-conditional-condition {
    display: inline;
}

.questions-field-conditional-operations {
    position: absolute;
    right: 0;
    margin-top: .1em;
}

.questions-field-andor {
    padding-left: 0.5em;
}

.questions-field-subconditional {
    font-size: 1.5em;
    line-height: 0;
}

.questions-field-indentation {
    float: left;
    width: 2em;
}

.questions-field-conditional-new input[disabled] {
    visibility: hidden;
}

.questions-field-conditional-new input.form-submit,
.questions-field-conditional-operations input.form-submit {
    margin: 0 2px;
    padding: 0 6px 2px 6px;
}

#questions-field-conditionals-table input.progress-disabled,
.questions-field-conditional-operations input.progress-disabled {
    float: none;
}

#questions-field-conditionals-table .ahah-progress-throbber {
    float: none;
    display: inline;
}

#questions-field-conditionals-table .ahah-progress-throbber .throbber {
    float: none;
    display: inline;
    padding-right: 12px;
}

.questions-field-conditional-andor {
    display: inline;
}

.questions-field-conditional-andor .form-item {
    margin: 0;
    padding: 0;
}